<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660500180027-teou2l2ivbsv214non9jhkbavgd20sdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660500180027-teou2l2ivbsv214non9jhkbavgd20sdi</string>
	<key>API_KEY</key>
	<string>AIzaSyBpoza69jqHIomeKsSoyYhy_upPUu3GtEo</string>
	<key>GCM_SENDER_ID</key>
	<string>660500180027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfuncity.myfuncitynew</string>
	<key>PROJECT_ID</key>
	<string>myfuncity-app</string>
	<key>STORAGE_BUCKET</key>
	<string>myfuncity-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660500180027:ios:f1d82a79f32634ff2ac01e</string>
</dict>
</plist>